In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Load files
schools_data = Path("Resources/schools_complete.csv")
students_data = Path("Resources/students_complete.csv")

In [3]:
# Read in and store data
school_data_df = pd.read_csv(schools_data)
student_data_df = pd.read_csv(students_data)

In [4]:
# Combine school and student data
all_school_data_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
all_school_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
# list of headers
all_school_data_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [6]:
# Total number of unique schools
school_count = len(school_data_df)
school_count

15

In [7]:
# Total students
student_count = len(student_data_df)
student_count

39170

In [8]:
# Total budget
total_budget = sum(school_data_df["budget"])
total_budget

24649428

In [9]:
# Average math score
avg_math_score = student_data_df["math_score"].mean() 
avg_math_score

78.98537145774827

In [10]:
# Average reading score
avg_reading_score = student_data_df["reading_score"].mean()
avg_reading_score

81.87784018381414

In [11]:
# Percent passing math
pass_math_count = all_school_data_df[(all_school_data_df["math_score"] >= 70)].count()["student_name"]
pass_math_percent = pass_math_count / float(student_count) * 100
pass_math_percent

74.9808526933878

In [12]:
# Percent passing reading
pass_reading_count = all_school_data_df[(all_school_data_df["reading_score"] >= 70)].count()["student_name"]
pass_reading_percent = pass_reading_count / float(student_count) * 100
pass_reading_percent

85.80546336482001

In [13]:
# Percent overall passing
pass_math_reading_count = all_school_data_df[(all_school_data_df["math_score"] >= 70) & (all_school_data_df["reading_score"] >= 70)].count()["student_name"]
overall_pass_rate = pass_math_reading_count / float(student_count) * 100
overall_pass_rate

65.17232575950983

In [14]:
# list of headers
all_school_data_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [15]:
# Setup dataframe for summary

district_summary = pd.DataFrame({"Total Schools": [school_count],"Total Students": [student_count], 
                                 "Total Budget": [total_budget], "Average Math Score": [avg_math_score], 
                                 "Average Reading Score": [avg_reading_score], "% Passing Math": [pass_math_percent], 
                                 "% Passing Reading": [pass_reading_percent], "% Overall Passing": [overall_pass_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.6f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.5f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.6f}".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.6f}".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.6f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [16]:
# School types
school_types = all_school_data_df.type.unique()
print(school_types)

['District' 'Charter']

In [17]:
#For reference of columns and data
all_school_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [18]:
#Total student count per school
per_school_counts = all_school_data_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [19]:
# Total school budget and per capita spending per school

#set index for school data on name
school_df = school_data_df.set_index("school_name")
school_type = school_df["type"]
#print(school_type)

#per_school_budget
school_budget = school_df["budget"]

#per_school_capita             ##format number###########
school_size = school_df["size"]

# Per capita spending per school
budg_percap = school_budget/school_size
budg_percap

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [20]:
# set index of combined lists to get average scores
index_both = all_school_data_df.set_index("school_name")
group_both = index_both.groupby(["school_name"])
#group_both

In [21]:
# Average test scores per school
per_school_math = group_both["math_score"].mean()
per_school_reading = group_both["reading_score"].mean()
print(per_school_reading)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [27]:
# Percent students passing math
students_passing_math = all_school_data_df[all_school_data_df["math_score"] >= 70].groupby(["school_name"])
num_students_passing_math = students_passing_math.size()
num_students_passing_math
school_students_passing_math = (num_students_passing_math/per_school_counts) * 100
school_students_passing_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [36]:
# Percent students passing reading
students_passing_reading = all_school_data_df[all_school_data_df["reading_score"] >= 70].groupby(["school_name"])
num_students_passing_reading = students_passing_reading.size()
num_students_passing_reading
school_students_passing_reading = (num_students_passing_reading/per_school_counts) * 100
school_students_passing_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [35]:
# Percent students overall passing (both math and reading)

students_passing_math_and_reading = all_school_data_df.loc[(all_school_data_df["reading_score"] >= 70) & (all_school_data_df["math_score"] >= 70)].groupby(["school_name"])
overall_passing = students_passing_math_and_reading.size()
overall_passing_percent = (overall_passing/per_school_counts) * 100
#overall_passing_percent

#students_passing_math_and_reading = all_school_data_df[(all_school_data_df["reading_score"] >= 70) & (all_school_data_df["math_score"] >= 70)]
#num_students_passing_overall = all_school_data_df[students_passing_math_and_reading].groupby(["school_name"].size())

In [39]:
# Use the provided code to calculate the passing rates
school_students_passing_math = (num_students_passing_math/per_school_counts) * 100
school_students_passing_reading = (num_students_passing_reading/per_school_counts) * 100
overall_passing_percent = (overall_passing/per_school_counts) * 100

In [40]:
# Create DataFrame that summarizes key school metrics

#all_school_data_df.columns

#per_school_summary = pd.DataFrame({"School Type": school_type, "Total Students": })

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')